body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background-color: black; */
  /* color: white; */

  /* background-color: rgb(220,220,220); */
  background-color: white;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

svg {
 width: 100%;
 height: 100%;
 /* background-color: red; */
 /* fill: #ffffff; */
 fill: rgb(255, 120, 0);
}


.upload-application{
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px;
}

.upload-element{
    /* background-color: #1d1e22; */
    /* background-color: rgb(200,200,200); */

    /* background-color: rgba(255, 120, 0, 1.0); */


    border: 2px solid gray;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    /* border-top: 2px solid black; */
    /* padding-top: 10px;
    padding-bottom: 10px; */
    /* box-shadow: 0px -10px 10px 2px rgb(200,200,200); */
}

.shade-on-hover-light{
    background-color: white;
}
.shade-on-hover-light:hover{
    background-color: rgba(150, 150, 150, 0.3);
    transition-duration: 0.2s;
}

.btn{
    background-color: white;
    /* background-color: rgb(200,200,200); */
    color: black;
    cursor: pointer;
}

.btn:hover{
    background-color: rgba(230, 230, 230, 0.6);
    color: rgb(255, 120, 0);
    transition-duration: 0.2s;
}

.overlay:hover{
    transition: 1.0s ease;
    background-color: rgba(250,250,250,0.4);
    /* background-image: radial-gradient(rgba(220,220,220,0.9) 40%, rgba(0,0,0,0)); */
    /* background-color: red; */
    /* background-color: red; */
    color: black!important;

}

.separator-line{
    border-bottom: 1px solid black;
    width: 100%;
    /* margin-bottom: 10px;
    margin-top: 10px; */
}
